{% extends 'base_librarian.html' %}

{% block content %}
<div class="container text-light">
    <h1>Add Section</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {{ form.name(class="form-control bg-dark text-light", id="name") }}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            {{ form.description(class="form-control bg-dark text-light", id="description") }}
        </div>
        <button type="submit" class="btn btn-primary">Add Section</button>
    </form>
</div>
{% endblock %}
