{% extends 'base_user.html' %}

{% block content %}
<div class="container">
    <h2>All Books</h2>
    <div class="list-group">
        {% for book in books %}
        <a href="{{ url_for('request_access',user_id = user_id,book_id=book.id) }}" class="list-group-item list-group-item-action">
            <h5 class="mb-0">{{ book.title }}</h5>
            <br/>
            <div class="d-flex w-100 justify-content-between">
                
                <small>by {{ book.author }}</small>
                <button class="btn btn-success">request_access</button>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
