{% extends 'base_librarian.html' %}

{% block content %}
<div class="container text-light">
    <h2>Book Requests</h2>
    <div class="list-group">
        {% for request in requests %}
        <div class="list-group-item list-group-item-action bg-dark text-light border-light">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Book Request</h5>
                <div class="btn-group">
                    <a href="{{ url_for('approve_request', request_id=request.id) }}" class="btn btn-success btn-sm">Approve</a>
                </div>
            </div>
            <p class="mb-1">User ID: {{ request.user_id }}</p>
            <p class="mb-1">Book ID: {{ request.book_id }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
