{% extends 'base_user.html' %}

{% block content %}
<div class="container">
    <h2>My Books</h2>
    </form>
    <div class="list-group">
        {% for book_access in book_accesses %}
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ book_access.book.title }}</h5>
                <small>by {{ book_access.book.author }}</small>
            </div>
            <p class="mb-1">{{ book_access.book.description }}</p>
            <small>Section: {{ book_access.book.section.name }}</small>
            <div class="btn-group float-end">
                <a href="{{ url_for('book_details', book_id=book_access.book.id) }}" class="btn btn-sm btn-outline-primary">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
